# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangpython2.7
    - CONFIG=osx_c_compilerclangpython3.6
    - CONFIG=osx_c_compilerclangpython3.7
    - CONFIG=osx_c_compilertoolchain_cpython2.7
    - CONFIG=osx_c_compilertoolchain_cpython3.6
    - CONFIG=osx_c_compilertoolchain_cpython3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "MjS1mD34Him44vMQ3jHNcGnI86wbAxAcxFZkWZGt2EzFI3lwpixua4GCMzL5ZXnVfi5FlNY8XOslQiFDxT4kLaYAD4dPln1d4QC9G8ShvL5hvWflRm53CuRkyeLmq7nevh2IrZzBwXc1VFhzf3FDhoAdMiT2URs9WHvarB+rw2x47UbPNihQeistLdiXJuw6plwbJ+yjqskk1J0g9s/iDYRfcYPPbdrHn+QATFF2WLtpdtqG/M8M0zWAO7IFLVABj4PKsOjSigua1eMAT99sxP+7+bL4BNhaLU1pC/z0e9whqLDQIqKu7x3jBT1K/AgXUQzUr77IJGyklYAhwcg9Tg9lTm3Wwi1ZIynLzLmDHTqTC2ceGlwLLHTlDqzMeu2g+sLV6Ei+RYwp0E5TcBejY1i06enPIEACPU7pNhh38ZWbAfzRG28dkJ2HglTIs7PurG2Pw5CRlw4nLJPEhbHu14GJKUZKQOAzejhNxOwh6+wokEMytaUp1tXuoCdpUPydeosjbL9AcAnvvsmzTVZYAsYdma+vwoN3YyNDATyQ453m1oONHPxIFQg58zoTQPYxisNouCNoiMd37vQ1GqR1RSGCFvMBi/uAUa0ECl5t1vvhK3IFvMzdPDjYKG5I07ATwPYafr+EX44j26q2GLrXPM+NF3pUNAVT598+t1RD/gw="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
